html, body {
    font-family: sans-serif;
    background-color: rgb(247, 247, 247);    
}

html {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 576px;
}

ul {
    margin: 0;
}

.section-title {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}